{% extends "base-estate.html" %}

{% block content %}
    {% block left-column %}
        <div style="float:left;border:1px solid black;">
            <form action="/estates/search-result/" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Filtra">
            </form>
        </div>
    {% endblock left-column %}

    {% block right-column %}
        <div style="float:left;">

            <ul>
            {% for typology, estates in promoted.items %}
                <li>
                {{ typology }}
                <ul>
                {% for e, thumb in estates %}    
                    <li>
                        {{ thumb }}<a href="{{ e.get_absolute_url }}">{{ e }}</a>
                    </li>
                {% endfor %}
                </ul>
                </li>   
            {% endfor %}
            </ul>

        </div>
    {% endblock right-column %}
{% endblock content %}
